<h1>Jobs Index Page</h1>
<br>

<% @jobs.each do |job| %>
<div class="col-sm-12">
    <!--VALUES-->
    <%= job.id %>.
    <%= job.name %>
    <%= job.description %>
    <%= job.origin %>
    <%= job.destination %>
    <%= job.cost %>
    <%= job.cc %>

    <!-- LINKS -->
    <%= link_to 'Show', job_path(job.id) %>
    <%= link_to 'Edit', job_path(job.id)+"/edit" %>
    <%= link_to 'Destroy',  { action: :destroy, id: job.id }, method: :delete %>
</div>
<% end  %>

<%= link_to 'new', new_job_path %>