<h1>Boats Index Page</h1>
<br>

<% @boats.each do |boat| %>
<div class="col-sm-12">
    <!--VALUES-->
    <%= boat.id %>.
    <%= boat.name %>
    LOCATION: <%= boat.location %>
    CCC: <%= boat.ccc %>
    <br>

    <!-- LINKS -->
    <%= link_to 'Show', boat_path(boat.id) %>
    <%= link_to 'Edit', boat_path(boat.id)+"/edit" %>
    <%= link_to 'Destroy',  { action: :destroy, id: boat.id }, method: :delete %>
</div>
<% end  %>


<%= link_to 'new', new_boat_path %>
