<%#= @message %>
<%#= title "Place" %>

<%= form_tag place_path(:id), :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near" %>
  </p>
<% end %>

<table>
  <tr>
    <th>Address</th>
    <%= text_field_tag :address, params[:address] %>
  </tr>
  <tr>
    <th>Latitude</th>
    <%= text_field_tag :address, params[:address] %>
  </tr>
  <tr>
    <th>Longitude</th>
    <%= text_field_tag :address, params[:address] %>
  </tr>
<%=  @places.each do |place| %>
  <tr>
    <td><%= place.address %></td>
    <td><%= place.latitude %></td>
    <td><%= place.longitude %></td>
    <td><%= link_to "Show", place %></td>
    <td><%= link_to "Edit", edit_place_path(place) %></td>
    <td><%= link_to "Destory", place, :confirm => 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
